/* Variables */
:root {
  --main-bg-color: #f5edfd; /* Light lavender */
  --primary-type-color: #392956; /* Dark purple */
  --accent-color-1: #6b4d90; /* Moderate purple */
  --accent-color-2: #9a72ac; /* Pale purple */
  --font-family-heading: 'Playfair Display', serif; /* Elegant font */
}

/* Reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; /* Normal font weight */
}

/* Fluid Images */
img {
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 800px; /* Adjusted container width */
  margin: 0 auto;
  background: rgba(57, 41, 86, 0.15); /* Dark purple with transparency */
}

/* Helper Classes */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}


body {
  background: var(--main-bg-color);
  color: var(--primary-type-color);
  line-height: 1.6;
}
a:link,
a:visited {
  color: var(--primary-type-color);
}

nav {
  padding: 1px;
}

nav ul {
  display: flex;
  justify-content: center; /* Center alignment */
  padding: 20px 0;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--primary-type-color);
  font-size: 0.9em; /* Adjusted font size */
  transition: color 0.3s ease;
  font-weight: bold;
}

nav a:hover {
  color: #7b599e; /* Lighter purple on hover */
}

main {
  padding: 20px; /* Adjusted padding */
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
  font-family: var(--font-family-heading); /* Elegant font */
}
main h1::before,
main h1::after {
  background-color: #9a72ac; /* Pale purple */
  content: "\a0";
  flex-grow: 1;
  height: 1.5px;
  position: relative;
  top: 0.8em;
}
main h1::before {
  margin-right: 15px; /* Adjusted margin */
}
main h1::after {
  margin-left: 15px; /* Adjusted margin */
}

dl {
  display: flex;
  flex-flow: row wrap;
}

dt {
  flex: 1 30%; /* Adjusted flex parameters */
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #d87add; /* Lighter purple */
}
dd {
  flex: 1 70%; /* Adjusted flex parameters */
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #f5edfd; /* Light lavender */
}
.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.related-links .svg-inline--fa {
  font-size: 1.8em;
  padding-top: 7px;
}

.related-links a {
  border: 1px solid #6b4d90; /* Moderate purple */
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75em;
  background: rgba(105, 77, 138, 0.65); /* Darker purple with transparency */
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.related-links a:hover {
  background: rgba(123, 89, 158, 0.95); /* Lighter purple on hover */
}

.related-links li {
  margin-right: 20px;
}

#skills {}

#skills li {
  list-style-type: square;
}

.job,
.certificate {
  border-bottom: 1px solid #6b4d90; /* Moderate purple */
  padding-bottom: 20px;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

/* Reorder Source Using Flexbox */
main.container {
  display: flex;
  flex-flow: row wrap;
}

main.container > * {
  flex: 1 100%;
}

.page-title {
  order: 0;
}
#about {
  order: 1;
}
#skills {
  order: 3;
}
#experience {
  order: 2;
}
#education {
  order: 4;
}


  /* Media Queries */
@media only screen and (min-width: 768px) {
  main.container {
    max-width: 900px;
  }
  header.container {
    max-width: 900px;
  }
  .page-title {
  }
  #skills {
    padding-left: calc(30% + 40px);
  }
  #experience {
    padding-left: calc(30% + 40px);
  }
  #education {
    padding-left: calc(30% + 40px);
  }
  #about {
    display: flex;
    flex-flow: row wrap;
  }

  .bio {
    flex: 1 30%;
  }
  .details {
    flex: 1 70%;
    padding-left: 40px;
  }
  .related-links {
    border-bottom: 1px solid #9a72ac; /* Pale purple */
    padding-bottom: 50px;
    flex: 1;
  }
  /* Centering image */
  .image-container {
    display: flex;
    justify-content: center;
  }
  .image-container img {
    max-width: 100%;
  }
}

/* Media Queries for Tablet and Mobile */
@media only screen and (max-width: 767px) {
 
  .image-container {
    display: flex;
    justify-content: center;
  }
  .image-container img {
    max-width: 100%;
  }
}


/* Edge Case Tweaks */
@media only screen and (max-width: 435px) {
  .related-links li a svg {
    display: none;
  }
}
