/* style.css */


body {
    background-color: #FFB6C1; 
    font-family: Arial, sans-serif; 
    padding: 0; 
}

/* Style the header */
header {
    background-color: #FF69B4; 
    text-align: center; 
    padding: 20px 0; 
    margin-bottom: 20px; 
}

header h1 {
    color: white; 
}


nav {
    text-align: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    margin-bottom: 10px; 
}

nav ul li a {
    text-decoration: none; 
    color: #FF69B4; 
    font-weight: bold; 
}

nav ul li a:hover {
    color: #C71585; /* hover to a darker pink */
}
/*attempt to add queries to homepage*/
/*by the way these do work, which is interesting.. when the page is open fully it aligns in columns*/
/*when the homepage is minimized, the content gets stacked to fit the screen*/


/* Tablet */
@media screen and (min-width: 768px) {
    nav ul li {
        margin-bottom: 20px; /* same margin for tablet view */
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    nav ul li {
        margin-bottom: 30px; /* increases space between list items for desktop view */
    }

    /* adjusts the grid layout for different desktop views (smaller OR minimuized tabs) */
    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Show 3 columns in desktop view */
    }
}